@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<form enctype="multipart/form-data" method="post" >
	<p>Выберете xml-файл для загрузки</p>
	<p><input type="file" name="document" accept=".xml" /></p>
	<hr />
	<p><input type="submit" value="Upload" action="/Index"/></p>
</form>
